In [4]:
#topics
#special funtions
#sets

In [7]:
li=[1,1,2,2,3,3,4,4,5,5,6,6]
d={1:2,2:2,3:2,4:2,5:2,6:2}

In [9]:
s=str(li)

In [10]:
s

'[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]'

In [11]:
s[1]

'1'

In [14]:
s[13]

'3'

In [15]:
#here space is counting

In [16]:
d1={}
for i in li:
    d1[i]=li.count(i)

In [17]:
d1

{1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 2}

In [24]:
s={1,"sdsd",1,2,3,4,3,2,1}
s

{1, 2, 3, 4, 'sdsd'}

### collection of heterogenous data and
### unordered data
### dont't supporting scilcing
### doesnot allowing duplications

In [30]:
s={1,3,33}
t=(1,3,33)

In [32]:
# Creating a set which have immutable elements  
set1 = {1,2,3, "JavaTpoint", 20.5, 14}  
print(type(set1))

<class 'set'>

In [46]:
#Creating a set which have mutable element  
set2 = {1,2,3,"Javatpoint",4}  
print(type(set2))

<class 'set'>

In [34]:
s={1,3,33}
t=(1,3,33)
t=list(t)

In [35]:
t

[1, 3, 33]

In [39]:
t=tuple(t)

In [40]:
t

(1, 3, 33)

In [41]:
s={1,3,33}
s=list(s)

In [42]:
s

[1, 3, 33]

In [43]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
s.update

SyntaxError: invalid syntax (<ipython-input-45-3c8e8232f632>, line 1)

In [47]:
s1={1,2,3}
s2={4}
s1.add(4)

In [48]:
s1

{1, 2, 3, 4}

In [50]:
s3=s2.copy()

In [51]:
s3

{4}

In [52]:
s3.add(10)
s3

{4, 10}

In [57]:
s1.difference_update(s3)
s1

{1, 2, 3}

In [58]:
s1.discard(1)

In [59]:
s1

{2, 3}

In [87]:
D1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
D2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

{'Monday', 'Tuesday'}

In [70]:
D1.intersection(D2)

{'Monday', 'Tuesday'}

In [71]:
D1.isdisjoint(D2)

False

In [73]:
D2.issuperset(D1)

False

In [75]:
D1.pop()

'Monday'

In [76]:
D1

{'Thursday', 'Tuesday', 'Wednesday'}

In [77]:
D2.pop()

'Monday'

In [78]:
D2

{'Friday', 'Sunday', 'Tuesday'}

In [79]:
D2.remove("Sunday")

In [81]:
D2

{'Friday', 'Tuesday'}

In [82]:
D2.discard("sunday")

In [84]:
D2

{'Friday', 'Tuesday'}

In [86]:
D2.remove("Sunday")

KeyError: 'Sunday'

In [90]:
dir(D1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [92]:
D1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
D2 = {"Monday","Tuesday","Sunday", "Friday"}

In [93]:
D1.union(D2)

{'Friday', 'Monday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [94]:
D2.update(D1)

In [95]:
D2

{'Friday', 'Monday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

## COMPREHENTIONS

In [105]:
d1=[1,2,3,4,5,6,7,9]

In [106]:
dir(d1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [107]:
li=[]
for i in range(1,11):
    if i%2==0:
        li.append(i)
li

[2, 4, 6, 8, 10]

In [123]:
li=[i for i in range(1,11) if i%2!=0]

In [124]:
li

[1, 3, 5, 7, 9]

In [125]:
li=[i for i in range(1,11) if i%2==0]
li

[2, 4, 6, 8, 10]

In [130]:
def is_prime(n):
    cnt=0
    for i in range(1,n):
        if n%1==0:
            cnt+=1
    if cnt==1:
        return True
    else:
        return False
is_prime(1)

False

In [133]:
prime_list=[i for i in range(1,100) if is_prime(i)]

In [135]:
len(prime_list)

1

In [139]:
d={i:i*i*i for i in range(1,11)}

In [140]:
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [143]:
s="aabbccddee"
d={i:s.count(i) for i in s}

In [144]:
d

{'a': 2, 'b': 2, 'c': 2, 'd': 2, 'e': 2}

# lambda

In [146]:
def add(a,b):
    return a+b
add(2,4)

6

In [147]:
"""
def add(a,b):
    return a+b
add(2,4)
"""
"""
   var=lambda arg:expression
"""
i=lambda a,b:a+b
i(3,4)

7

In [148]:
"""
def add(a,b):
    return a+b
add(2,4)
"""
"""
   var=lambda arg:expression
"""
i=lambda a,b,c:a+b+c
i(3,4,6)

13

In [150]:
s="apssdc"
for i in s:
    print(i)
#print(i)

a
p
s
s
d
c