In [1]:
n=int(input("enter number"))
s=0
for i in range()

SyntaxError: invalid syntax (<ipython-input-1-77ad96f6f30e>, line 3)

In [5]:
t=int(input("enetr tables upto:"))
length=int(input("enter table length:"))
for i in range(1,t+1):
    for j in range(1,length+1):
        print("{}*{}={}".format(i,j,i*j))

enetr tables upto:2
enter table length:10
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [6]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [16]:
## break
### continue

In [6]:
for i in range(1,10,1):
    if i==4:
        break
    print(i)

1
2
3

In [8]:
for i in range(1,10,1):
    if i==4:
        continue
    print(i,end=" ")

1 2 3 5 6 7 8 9

## FUNTIONS
--BLOCK OF CODE TO PERFORM SOME OPERATIONS
#### USE
-->CODE RESUABALITY
-->READULITY OF THE PROGRAM
-->CODE REDUCE
-->TIME DECREASE
#### TYPES
-->1.INBUILT/DEFAULT FUNCTIONS
     -EG;PRINT,SUM,MAX,MIN,INT
-->2.USER DEFINE FUNTIONS
     -.1.function creation
      --1.function declaration
         def functionName(arg)
      --function defination
          statements
-->3.SPECIAL FUNCTIONS
    -lambda,comphrensions

In [13]:
sum([12,2])

14

In [12]:
min([12,2])

2

In [15]:
## function creation:
def add(a,b):
    print(a+b)
add(3,32)

35

In [20]:
def sub(a,b):
      print(a-b)
sub(2,32)

-30

In [33]:
## user define funtions:
#based on return values 
#1.without arugument and without return values
#2.with arugument and without return values
#3.without arugume#nt and with return values
#4.with arugument and with return values

SyntaxError: invalid syntax (<ipython-input-33-e6dd67252c9a>, line 5)

In [30]:
#1.without arugument and without return values
def f1():
    n=int(input("enter n value"))
    if 10%n==0:
        print("n is factor of 10")
    else:
        print("not factor of 10")
f1()
n=f1()
print(n)

enter n value3
not factor of 10
enter n value1
n is factor of 10
None

In [32]:
def add(a,b):
    print(a+b)
    return a,b
a,b=add(3,32)
print(a,b)

35
3 32

In [35]:
#3.without arugume#nt and with return values
def f1():
    n1=int(input("enter n1 value:"))
    n2=int(input("enter n2 value:"))
    return n1+n2,n1-n2
add,sub=f1()
print(add)
print(sub)

enter n1 value:2
enter n2 value:1
3
1

In [42]:
#2.with arugument and without return values
n1=int(input("enter n1 value"))
n2=int(input("eneter n2 value"))
def f1(n1,n2):
    print(n2,n1,n1+n2)
f1(n1,n2)

enter n1 value6
eneter n2 value8
8 6 14

In [43]:
#4.with arugument and with return values
def f1(n1,n2):
    n1=int(input("enter n1 value"))
    n2=int(input("enter n2 value"))
    return n1+n2,n1-n2
f1(n1+n2,n1-n2)

enter n1 value2
enter n2 value3

(5, -1)

In [1]:
# based on arguments:
#1.default argument
#2.required or positional arguments
#3.variable length argument
#4.keyword argument

In [5]:
#1.default argument
def default(a=10,b=20):
    return a*b
default(19,2)

38

In [6]:
def default(a=10,b=20):
    return a*b
default()

200

In [7]:
def default(a=10,b=20):
    return a*b
default(19)

380

In [10]:

def default(a=10,b=20):
    return a*b
default(0,19)

0

In [12]:
range(1,10)

range(1, 10)

In [13]:
range()

TypeError: range expected 1 arguments, got 0

In [22]:
#2.required or positional arguments
def required(a,b=2,c=30):
    return a**2+2**b+c
required(1)
#1.a value is required value and b,c value is default

35

In [27]:
def required(c,a=30,b=2):
    return a**2+2**b+c
required(1)
#1.c value is required value and b,a value is default

905

In [37]:
#3.variable length argument
def var_len(a=12,b=20,*c):
    return a+b+sum(c)
var_len(10,80,12)

102

In [41]:
def var_len(a=12,b=20,*c):
    print(c)
    return a+b+sum(c)
var_len(10,80,12,2,43,2,42,242)

(12, 2, 43, 2, 42, 242)

433

In [42]:
def var_len(a=12,*c,b=20):
    print(c)
    return a+b+sum(c)
var_len(10,80,12,2,43,2,42,242)

(80, 12, 2, 43, 2, 42, 242)

453

In [77]:
def var_len(*c,a,b=20):
    print(c)
    return a+b+sum(c)
var_len(10,80,12,2,43,2,42,242)

TypeError: var_len() missing 1 required keyword-only argument: 'a'

In [81]:
def var_len(a=30,b=20,*c):
    return a+b+sum(c)
d= var_len(20,20,10)

def v1(e=12):
    return d+e
v1(d,)

100

In [84]:
#4.keyword argument
def var_len(a=12,*c,b=20):
    print(a,b,c)
    return a+b+sum(c)
var_len(10,80,12,2,43,2,42,242,b=34)

10 34 (80, 12, 2, 43, 2, 42, 242)

467

In [85]:
def var_len(a=12,*c,b=20):
    print(c)
    return a+b+sum(c)
var_len(10,b=239,80,12,2,43,2,42,242)

SyntaxError: positional argument follows keyword argument (<ipython-input-85-8ab922a2e5ce>, line 4)

In [89]:
def key_word(**name):
    return name
key_word(name=["sri,asri"])

{'name': ['sri,asri']}

In [97]:
def is_perfect(n):
    s=0
    for i in range(1,n):
        if n%i==0:
            s+=i
        if s==n:
            return True
        else:
            return False
is_perfect(4)

False

In [100]:
def perfect_gen(start,end):
    for i in range(start,end+1):
        if is_perfect(i):
            print(i)
perfect_gen(start=2,end=7)

# STRINGS

In [102]:
#-->Enclosed with single codes or double codes

In [110]:
s="sridhar"
print(type(s),s)

<class 'str'> sridhar

In [124]:
s="sridhar"
print(s,s[-3] )
s[1]

sridhar h

'r'

In [123]:
s[-3] 
#backward indexing

'h'

In [131]:
#slicing
s="sridhar"

print(s)
s[1:6]

sridhar

'ridha'

In [137]:
s[-6:-1]

'ridha'

In [139]:
s[::-2]

'rhis'

In [141]:
s1="there is a lion"
s1

'there is a lion'

In [142]:
s2="""sridhar
gunturi
asri"""

In [143]:
s2

'sridhar\ngunturi\nasri'

In [144]:
print(s2)

sridhar
gunturi
asri

In [147]:
print("apssdc")
"""print("yes")
print("no")""" #multiline comment
# imp in interviews

apssdc

'print("yes")\nprint("no")'

In [165]:
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [169]:
s1="there is a lion"
s1.capitalize()
#starting letter only capital

'There is a lion'

In [170]:
s1="there is a lion"
s1.title()

'There Is A Lion'

In [171]:
s1="there is a lion"
s1.upper()

'THERE IS A LION'

In [172]:
s1="there is a lion"
s1.lower()

'there is a lion'

In [177]:
s1="there is a lion"
s2="rvr"
c=s1+" "+s2
c

'there is a lion rvr'

In [183]:
c.split()

['there', 'is', 'a', 'lion', 'rvr']

In [185]:
s1="there$is$a$lion"
s1.split("$")

['there', 'is', 'a', 'lion']

In [187]:
s1.strip("$")

'there$is$a$lion'

In [188]:
s1="there is a lion"
s1.strip("")

'there is a lion'

In [200]:
q="1   python    "
len(q)
print(q)

1   python

In [203]:
q="1   python    "
q.strip()

'1   python'

In [210]:
q=["1   python    ","rvr"]
"7".join(q)

'1   python    7rvr'